<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Nola300 Onboarding Interface</title>


		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
		<style>
		body {
			margin-top: 20px;
		}
		div.card {
			margin-bottom: 10px;
			display: none;
		}
		</style>
	</head>
	<body>

		<div class="container">

			<form role="form" class="onboard-form" id="onboard-form">

				<div class="card" id="00-home">
					<div class="card-header">One Time in New Orleans</div>
					<div class="card-body">
						<h4 class="card-title">Welcome to NOLA 300th anniversary storytelling experience.</h4>
						<p class="card-text">This is a story gathering experiment...</p>

						<button type="button" class="btn btn-primary nextbtn">Next</button>
					</div>
				</div>


				<div class="card" id="01-what-to-expect">
					<div class="card-header">What to Expect</div>

					<div class="card-body">
						<h4 class="card-title">Step 1</h4>
						<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

						<h4 class="card-title">Step 2</h4>
						<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

						<h4 class="card-title">Step 3</h4>
						<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
				

						<h4 class="card-title">Step 4</h4>
						<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

						<button type="button" class="btn btn-primary backbtn">Back</button>
						<button type="button" class="btn btn-primary nextbtn">Next</button>
					</div>
				</div>



				<div class="card" id="02-guest-info">
					<div class="card-header">Guest Info</div>

					<div class="card-body">

						<div class="form-group">
							<input type="text" class="form-control" id="fname" name="fname" placeholder="First Name"> 
						</div>

						<div class="form-group">
							<input type="text" class="form-control" id="lname" name="lname" placeholder="Last Name">
						</div>

						<div class="form-group">
							<input type="text" class="form-control" id="email" name="email" placeholder="Email">
						</div>

						<button type="button" class="btn btn-primary backbtn">Back</button>
						<button type="button" class="btn btn-primary nextbtn">Next</button>
					</div>
				</div>

			
				<div class="card" id="03-location">
					<div class="card-header">Where does your story take place?</div>

					<div class="card-body">
						<h4 class="card-title">check any that apply</h4>

						{{#each places}}
						<div class="form-check">
						  <label class="form-check-label">
						    <input class="form-check-input" type="checkbox" name="entities[places][]" value="{{ @this }}">
							{{this}}
						  </label>
						</div>
						{{/each}}

						<button type="button" class="btn btn-primary backbtn">Back</button>
						<button type="button" class="btn btn-primary nextbtn">Next</button>
					</div>
				</div>


			
				<div class="card" id="04-items">
					<div class="card-header">Does your story involve any of these?</div>

					<div class="card-body">
						<h4 class="card-title">check any that apply</h4>
						{{#each items}}
						<div class="form-check">
						  <label class="form-check-label">
						    <input class="form-check-input" type="checkbox" name="entities[items][]" value="{{ @this }}">
							{{this}}
						  </label>
						</div>
						{{/each}}

						<button type="button" class="btn btn-primary backbtn">Back</button>
						<button type="button" class="btn btn-primary nextbtn">Next</button>
					</div>
				</div>



				<div class="card" id="05-theme">
					<div class="card-header">Does your story follow any of these themes?</div>

					<div class="card-body">
						<h4 class="card-title">check any that apply</h4>

						{{#each themes}}
						<div class="form-check">
						  <label class="form-check-label">
						    <input class="form-check-input" type="checkbox" name="entities[themes][]" value="{{ @this }}">
							{{this}}
						  </label>
						</div>
						{{/each}}

						<button type="button" class="btn btn-primary backbtn">Back</button>
						<button type="button" class="btn btn-primary nextbtn">Next</button>
					</div>
				</div>



				<div class="card" id="06-legal">
					<div class="card-header">Is it cool if we use your story?</div>

					<div class="card-body">
						<h4 class="card-title">please agree!</h4>


						<div class="form-check">
						  <label class="form-check-label">
						    <input class="form-check-input" type="checkbox" name="consent" value="yes" />
							I agree
						  </label>
						</div>

						<button type="button" class="btn btn-primary backbtn">Back</button>
						<button type="button" class="btn btn-primary nextbtn">Next</button>
						
					</div>
				</div>


				<div class="card" id="07-instructions">
					<div class="card-header">Instructions</div>

					<div class="card-body">
					<h4 class="card-title">instructions here</h4>

						<h4 class="card-title">Thing 1</h4>
						<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

						<h4 class="card-title">Thing 2</h4>
						<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

						<h4 class="card-title">Thing 3</h4>
						<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

						<button type="button" class="btn btn-primary backbtn">Back</button>
						<button type="button" class="btn btn-primary nextbtn">Next</button>
					</div>
				</div>



				<div class="card" id="08-queue">
					<div class="card-header">Get ready!</div>
					<div class="card-body">
						<h4 class="card-title">Wait for the light to turn green</h4>

						<div id="submit-status"></div>

						<button type="button" class="btn btn-primary backbtn">Back</button>
						<button type="submit" id="btn-submit" class="btn btn-primary">Go!</button>
					</div>
				</div>


			</form> <!-- End #onboard-form -->
		</div> <!-- end #container -->



		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

		<script src="/socket.io/socket.io.js"></script>
		<script>
		var form = $("#onboard-form");
		var submit_status = $("#submit-status");
		var submit_button = $("#btn-submit")

		var pages = ["#00-home", "#01-what-to-expect", "#02-guest-info", 
			"#03-location", "#04-items", "#05-theme", 
			"#06-legal", "#07-instructions", "#08-queue"];
		var p = 0;

		// Fade in the first page
		$(pages[p]).fadeIn("fast");

		var next = function() {
			var current = $(pages[p]);
			var next = $(pages[p+1]);
			current.slideToggle("slow");
			next.slideToggle("slow");
			p++;
			return false;
		}
		var back = function() {
			var current = $(pages[p]);
			var prev = $(pages[p-1]);
			current.slideToggle("slow");
			prev.slideToggle("slow");
			p--;
		}

		// Handle the "next" action on all pages
		$("button.nextbtn").click(next)
		$("button.backbtn").click(back);

		// Handle the form submit
		$("#onboard-form").submit(function( event ) {
			var data = form.serialize();
			console.log("submit! "+data)
			$.ajax({
				type: "POST",
				url: "/onboard",
				dataType: 'json',
				data: data
			}).done(function(data){
				console.log(data);
				if(data.status != "OK") {
					alert(data.messages.join("\n"));
					console.log(data.messages)
				} 
			}).fail(function(xhr, status, error){
				alert(xhr.responseText);
				console.log("error submitting data: "+xhr.responseText);
			});
			event.preventDefault();
		});

		$("#onboard-form").keypress(function(){
			if ( event.which == 13 ) {
     			event.preventDefault();
     			next();
  			}
		})

		// messages received: submit_status, reset_form
		var socket = io.connect("/onboard");

		socket.on('submit_status', function(status){
			console.log("submit_status", status);
			if(status=="wait") {
				submit_button.prop("disabled", true);
			}
			if(status=="ready") {
				submit_button.prop("disabled", false);
			}
		})

		socket.on('reset_form', function() {
			document.getElementById("onboard-form").reset();
			$(pages[8]).slideToggle("slow");
			$(pages[0]).slideToggle("slow");
			p = 0;
		});

		</script>
	</body>
</html>