
<table width="100%">
	{{#each stories}}
	<tr>
		<td>{{this.shortid}}</td>
		<td>{{firstLetter this.firstName}}. {{this.lastName}}</td>
		<td >{{dateFormat this.endTime "MM/DD h:mma"}}</td> 
		<td>{{this.status}}</td>
	</tr>
	{{/each}}
</table>