<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Nola300 Video List</title>
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="/css/bootstrap.min.css">
		<link rel="stylesheet" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
		<style>
		body {
			margin-top: 50px;
			font-size: 10px;
		}
		.blacklisted {
			background-color: gray;
		}
		.table td {
			padding: 2px;
			line-height: 12px;
		}
		</style>

	</head>


	<body>
  
		<div class="container" >


			<table class="table" id="myTable">
				<thead>
					<tr>
						<th>#</th>
						<th>Name</th>
						<th>Score</th>
						<th>Places</th>
						<th>Items</th>
						<th>Themes</th>
					</tr>
				</thead>
				<tbody>

					{{#each videos}}
					<tr id="{{this._id}}" class="">
						<td>{{@index}}</td>
						<td>{{this.name}} ({{this.duration}})</td>
						<td class="score">{{this.score}}</td>
						<td>{{join this.places ", "}}</td>
						<td>{{join this.items ", "}}</td>
						<td>{{join this.themes ", "}}</td>
						<!--
						<td><textarea id="places.{{this.id}}" data-video="{{this.id}}" data-entity="places" class="entities">{{join this.places ", "}}</textarea></td>
						<td><textarea id="items.{{this.id}}" data-video="{{this.id}}" data-entity="items" class="entities">{{join this.items ", "}}</textarea></td>
						<td><textarea id="themes.{{this.id}}" data-video="{{this.id}}" data-entity="themes" class="entities">{{join this.themes ", "}}</textarea></td>
						-->
					</tr>
					{{/each}}
				</tbody>
			</table>

		</div><!-- end div.container -->

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="/js/jquery-3.2.1.min.js"></script>
	<script src="/js/popper.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
	<script>
	var socket = io.connect("/video");

	socket.on("playlist", function(videos){
		$("td.score").text(0);
		//console.log(videos);
		videos.forEach((v) => {
			var q = "#"+v.id+" .score";
			$(q).text(v.score);
		});
		sortTable();
	});

	socket.on("blacklist", function(videos){
		console.log(videos);
		$("tr").removeClass("blacklisted");
		videos.forEach((v) => {
			$("#"+v).addClass('blacklisted');
		});
	});

	function sortTable(){
		var rows = $('#myTable tbody tr').get();
		rows.sort(function(a, b) {
			var A = parseFloat( $(a).children('td').eq(1).text() );
			var B = parseFloat( $(b).children('td').eq(1).text() );
			console.log("comparing", A, "and", B);
			if(A > B) return -1;
			if(A < B) return 1;
			return 0;
		});
		$.each(rows, function(index, row) {
			$('#myTable').children('tbody').append(row);
		});
	}

	/*
	$(document).ready(function(){
		$('#myTable').DataTable({
			"pageLength": 100,
			"order": [[ 2, "desc" ]],
			"fnRowCallback": function(nRow, aData, iDisplayIndex, iDisplayIndexFull ) {
				console.log(nRow);
				if($(nRow).data('blacklisted')) {
					$(nRow).css('background-color', "gray");
				} else {
					$(nRow).css('background-color', "white");
				}
			}
		});
	});
	*/
	</script>
  </body>
</html>