<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Nola300 Booth Interface</title>
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
		<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
		<link rel="stylesheet" href="/stylesheets/jquery.tag-editor.css">
		<style>
		body {
			margin-top: 50px;
		}
		textarea.entities {
			width: 100%;
			height: 50px;
		}
		ul.tag-editor {
			width: 300px;
			height: 100px;
		}
		</style>

	</head>


	<body>
  
		<div class="container" >


			<table class="table">
				<thead>
					<tr>
						<th>#</th>
						<th>Name</th>
						<th>Places</th>
						<th>Items</th>
						<th>Themes</th>
					</tr>
				</thead>
				<tbody>

					{{#each videos}}
					<tr>
						<th scope="row">{{@index}}</th>
						<td>{{this.name}}</td>
						<td><textarea id="places.{{this.id}}" data-video="{{this.id}}" data-entity="places" class="entities">{{join this.places ", "}}</textarea></td>
						<td><textarea id="items.{{this.id}}" data-video="{{this.id}}" data-entity="items" class="entities">{{join this.items ", "}}</textarea></td>
						<td><textarea id="themes.{{this.id}}" data-video="{{this.id}}" data-entity="themes" class="entities">{{join this.themes ", "}}</textarea></td>
					</tr>
					{{/each}}
				</tbody>
			</table>

		</div><!-- end div.container -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="/javascripts/jquery.caret.min.js"></script>
    <script src="/javascripts/jquery.tag-editor.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

    <script>
    	$(document).ready(function() {

    		var places = {{{json places}}};
    		var items = {{{json items}}};
    		var themes = {{{json themes}}};

    		$("textarea").each(function(index){
    			var ele = $(this);
				var video = ele.data("video");
				var entity = ele.data("entity");

    			var tags = [];
    			if(entity=="places") tags = Object.keys(places);
    			if(entity=="items") tags = Object.keys(items);
    			if(entity=="themes") tags = Object.keys(themes);

    			ele.tagEditor({ autocomplete: {'source': tags, minLength: 2} });

				var values = this.value.split(",").map(val => { return val.trim(); });

				var post_data = {"video": video, "entity": entity, "values": values };
				console.log(post_data)



				$(this).keypress(function(e){
					if(e.keyCode == 13) return false;
				});
    		})



			/*
			$.ajax({
				type: "POST",
				url: "/videos",
				dataType: 'json',
				data: data
			}).done(function(data){
				console.log(data);
				if(data.status != "OK") {
					alert(data.messages.join("\n"));
					console.log(data.messages)
				}
			}).fail(function(xhr, status, error){
				console.log("error submitting data: "+error);
			});
			*/
    });
    </script>
  </body>
</html>