<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Nola300 Video Tagging Interface</title>
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="/css/bootstrap.min.css">
		<style>
		body {
			margin-top: 50px;
		}
		textarea.entities {
			width: 100%;
			height: 50px;
		}
		ul.tag-editor {
			width: 300px;
			height: 100px;
		}
		</style>

	</head>


	<body>
  
		<div class="container-fluid" >


			<table class="table">
				<thead>
					<tr>
						<th>#</th>
						<th>Name</th>
						<th>Places</th>
						<th>Items</th>
						<th>Themes</th>
					</tr>
				</thead>
				<tbody>

					{{#each videos}}
					<tr>
						<th scope="row">{{@index}}</th>
						<td>{{this.name}} ({{this.duration}})</td>
						<td>{{join this.places ", "}}</td>
						<td>{{join this.items ", "}}</td>
						<td>{{join this.themes ", "}}</td>
						<!--
						<td><textarea id="places.{{this.id}}" data-video="{{this.id}}" data-entity="places" class="entities">{{join this.places ", "}}</textarea></td>
						<td><textarea id="items.{{this.id}}" data-video="{{this.id}}" data-entity="items" class="entities">{{join this.items ", "}}</textarea></td>
						<td><textarea id="themes.{{this.id}}" data-video="{{this.id}}" data-entity="themes" class="entities">{{join this.themes ", "}}</textarea></td>
						-->
					</tr>
					{{/each}}
				</tbody>
			</table>

		</div><!-- end div.container -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/js/jquery-3.2.1.min.js"></script>

    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <script>
    	$(document).ready(function() {
    		/*
    		var entities = {
    			"places" : {{{json places}}},
    			"items" : {{{json items}}},
    			"themes": {{{json themes}}}
    		}

    		$("textarea").each(function(index){
    			var ele = $(this);
				var video = ele.data("video");
				var entity = ele.data("entity");
    			var autocomplete_tags = entities[entity];

 				var onChange = function(field, editor, tags) {
   					var post_data = {"video": video, "entity": entity, "values": tags };
					$.ajax({
						type: "POST",
						url: "/videos",
						dataType: 'json',
						data: post_data
					}).done(function(data){
						console.log(data);
						if(data.status != "OK") {
							alert(data.messages.join("\n"));
							console.log(data.messages)
						}
					}).fail(function(xhr, status, error){
						console.log("error submitting data: "+error);
					});
 				}


    			var editor = ele.tagEditor({ 
    				autocomplete: {'source': autocomplete_tags, minLength: 1 },
    				forceLowercase: false, removeDuplicates: true,
    				onChange: onChange
    			});
				
				$(this).keypress(function(e){
					if(e.keyCode == 13) return false;
				});
    		})
		*/
    });
    </script>
  </body>
</html>